.animation{
    background-color: aqua;
    width: 10px;
    height: 10px;
}
.animation:active::after{
    font-size: 60px;
    animation: anime 10s ;
    border-radius: 50%;
}
@keyframes anime{
    50%{
        color: rgba(255, 0, 0, 0.082);
    }
    100%{
        color: rgba(255, 0, 0, 0.438);
        transform: rotate(360deg);
    }
}